.herocon{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url(/images/back1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 5%;
}

.herocon h3{
    font-size: 3rem;
    color: var(--white);
    margin-bottom: 15px;
    font-style: italic;
}
.linkcon{
    gap: 10px;
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 500;
}

.linkcon p{
    color: var(--pink);
}

.linkcon a{
    color: var(--white);
    display: block;
    transition: all .3s ease;
}

.linkcon a:hover{
    color: var(--pink);
}

@media screen and (max-width: 425px) {
    .herocon{
        height: 40vh;
    }

    .herocon h3{
        font-size: 2.5rem;
    }

    .herocon .linkcon{
        font-size: 1.1rem;
    }
}