.Pcard{
    background-color: var(--white);
    position: relative;
    overflow: hidden;
    /* box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.1); */

}
.Pcard img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.Pcard .con{
    padding: 10px;
    text-align: center;
}
.Pcard h3{
    font-size: 1.2rem;
    color: var(--choco);
    margin-bottom: 10px;
}
.Pcard p{
    color: var(--pink);
    font-size: 1.05rem;
    font-weight: 400;
}

.order{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* padding: 10px; */
    transition: all 0.3 ease-in-out;
    height: 0;
    overflow: hidden;
}
.order a{
    padding: 10px;
    border-radius: 50%;
    background-color: var(--choco);
    color: var(--white);
}

.Pcard:hover{
    box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.1);
}