.Scard{
    /* width: 250px; */
    height: 250px;
    /* background-color: var(--lightpink); */
    position: relative;
    border-radius: 10px;
}
.Sbadge{
position: absolute;
bottom: 20px;
padding: 13px 20px;
background-color: var(--white);
color: var(--choco);
font-size: 1rem;
left: 14%;
border-radius: 5px;
}
.Scard img{
    object-fit: cover;
    height: 250px;
    width: 100%;
    border-radius: 10px;
}
