nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    transition: all 0.3 ease;
    background-color: var(--white);
    z-index: 10000;
}
nav.color{
    box-shadow: 9px 3px 4px rgba(0, 0, 0, 0.1);
    /* background-color: var(--lightpink);
    top: 0; */
}

.navUl{
    display: flex;
    gap: 20px;
}

.navUl a{
    font-size: 1.08rem;
    position: relative;
    color: var(--black);
    font-weight: 500 ;
    transition: all .3s ease;
}
.navUl a.active{
    color: var(--pink);
}
.navUl a.active::after{
    content : '';
    bottom: -10px;
    width: 6px;
    height: 6px;
    background-color: var(--pink);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transition: width 0.3s, height 0.3s, border-radius 0.3s, border-width 0.3s,
      transform 0.3s;
    transform: translate(-50%, -50%);
}

.logo{
    width: 90px;
}
.navUl li a:hover{
    color: var(--pink);
}

.topdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    /* background-color: var(--pink); */
    color: var(--black);
    border-bottom: 1px solid #eee;
}

.col{
    display: flex;
    align-items: center;
    gap: 10px;
}

.col a{
    font-size: 1rem;
    color: var(--black);
}

.icon{
    display: flex;
    gap: 15px;
}

.ico{
    color: var(--pink);
}

.icon a{
    font-size: 1.1rem;
    color: var(--pink);
}
.icon a:hover{
    color: var(--pink);
}
.col a:hover{
    color: var(--pink);
}
.icon .email{
    font-size: 1rem;
    color: var(--black);
}

.toggle{
    display: none;
    cursor: pointer;
    font-size: 1.5em;
    color: var(--black);
}

.mobile{
    display: none;
    position: absolute;
    left: -200px;
    top: 86.5px;
    width: 200px;
    background-color: var(--white);
    height: 100vh;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-out;
}

.mobile li a{
    padding: 8px 13px;
    display: block; 
    color: var(--gray);
    font-size: 1.08rem;
}
.mobile li a.active, .mobile li a:hover{
    background-color: var(--pink);
    color: var(--white);
}

.mobile.show{
    left: 0;
}

@media screen and (max-width:768px){
    .toggle{
        display: block;
    }

    .navUl{
        display: none;
    }

    .mobile{
        display: block;
    }
}