footer{
    background-color: var(--lightpink);
    padding: 0 5%;
    padding-top: 50px;
}
.footer{
    border-top: 1px solid var(--lightgray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0;
}

.footer .con .social {
    gap: 10px;

}

.footer .con .social a{
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    color: var(--white);
    background-color: var(--gray);
    padding: 8px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 26px;
    text-align: center;
    transition: all 0.3s ease;
}

.footer .con .social a:hover{
    background-color: var(--lightgray);
}

.footer .con{
    display: flex;
    align-items: flex-end;
    /* justify-content: flex-end; */
    flex-direction: column;
    gap: 10px;
}

.footer img{
    width: 140px;
}

.footer .con p{
    color: var(--lightgray);
}

.footerCon{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info, .category{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}