:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --choco: #422520;
  --lightpink: #FDD5D4;
  --pink: #BA5a87;
  --pinkhover: #c45f8e;
  --white: #fff;
  --gray: #777474;
  --lightgray: #423f3f;
  --black: #0f0f0f;
  --overlay: #ba5a87b2;
  
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.preloader{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(252, 226, 230, 0.534);
}

section{
  padding: 50px 5%;
}

@media screen and (max-width:768px){
  .topdivcon{
    display: none;
  } 
}